@import "_normalize.scss";
@import "_base.scss";
@import "_vars.scss";





// reset default browser css
a {
    text-decoration: none;
    color: inherit;
  }

  // reset default browser css
  body, html {
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: flex;
    // // flex-direction column
    // -webkit-box-orient: vertical;
    // -webkit-box-direction: normal;
    // -ms-flex-direction: column;
    // flex-direction: column;
    // // align-content space between
    // -ms-flex-line-pack: justify;
    // align-content: space-between;

    min-height: 100vh;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
  }

  body {
    color: $smokey-black;
    // height: 100%;
  }

  button {
    cursor: pointer;
    color: $smokey-black;
  }

  img {
    max-width: 100%;
  }

  input {
    color: $smokey-black;
    padding-left: 0.3em;
    height: 2.5em;
  }

  ::placeholder {
    color: $gray-500;
  }

  ::-webkit-input-placeholder {
    color: $gray-500;
  }

  ::-ms-input-placeholder {
    color: $gray-500;
  }

  p {
    line-height: 1.7rem;
    font-size: 110%;
  }

  input {
    color: $smokey-black;
    padding-left: 0.5em;
    padding-top: 0.3em;
    border: 1px solid $gray-400;
  }

  textarea {
    color: $smokey-black;
    padding-left: 0.5em;
    padding-top: 0.3em;
    border: 1px solid $gray-400;
    //    max-width: 90%;
    resize: vertical;
  }

  select {
    color: $smokey-black;
  }

  h1 {
      font-size: 250%;
  }



  .pulse {
    animation-name: pulse_animation;
    animation-duration: 5000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

  .pulse-phone {
    -webkit-animation: pulse-phone 2s linear infinite;
    animation: pulse-phone 2s linear infinite;
  }
  @keyframes pulse-phone {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 168, 183, 0.7);
      box-shadow: 0 0 0 0 rgba(255, 168, 183, 0.7);
    }

    40% {
      -webkit-box-shadow: 0 0 0 20px rgba(255, 168, 183, 0);
      box-shadow: 0 0 0 20px rgba(255, 168, 183, 0);
    }

    80% {
      -webkit-box-shadow: 0 0 0 20px rgba(255, 168, 183, 0);
      box-shadow: 0 0 0 20px rgba(255, 168, 183, 0);
    }

    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 168, 183, 0);
      box-shadow: 0 0 0 0 rgba(255, 168, 183, 0);
    }
  }



.header-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;



    margin-top: 1rem;

    .call-now-section {
        position: absolute;
        top: 0;
        right: 2rem;
        text-align: center;
        background-color: $maid-pink;
        color: #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 10rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-weight: 600;
    }

    .call-now-section-small-screens {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        position: absolute;
        right: 1rem;
        top: 1rem;
        background-color: $maid-pink;
        color: #fff;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        cursor: pointer;
        font-size: 150%;

        &:hover {
            opacity: 0.9;
        }
    }


    .navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        margin-top: 1.5rem;

        a {
            margin-left: 3rem;
            font-weight: 600;

            &:first-of-type {
                // color: coral;
                margin-left: 0;
            }

            &:hover {
              opacity: 0.9;
            }
        }
    }

    img {
        width: 300px;
    }
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    // background-color: $smokey-black;
    // color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 9rem;

    .social-media-icon-section {
      display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 1rem;

      .social-media-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        border: solid 1px $smokey-black;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        font-size: 150%;
        margin-left: 1rem;
        cursor: pointer;

        &:hover {
          color: $lollipop-blue;
        }

        &:first-of-type {
          margin-left: 0;
        }
      }
    }
}

.main-home-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    // background-color: $lollipop-blue;
    // height: 100%;

    .pulse {
        animation-name: pulse_animation;
        animation-duration: 5000ms;
        transform-origin:70% 70%;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @keyframes pulse_animation {
        0% { transform: scale(1); }
        30% { transform: scale(1); }
        40% { transform: scale(1.08); }
        50% { transform: scale(1); }
        60% { transform: scale(1); }
        70% { transform: scale(1.05); }
        80% { transform: scale(1); }
        100% { transform: scale(1); }
    }

    .jumbotron-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;

        // background option 1
        background-color: #FFA8B7;

        // background option 2
        // background-color: #DFB6E3;

        color: #fff;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 3rem;
        margin-top: 2rem;
        width: 100%;

        img {
          width: 30rem;
        }

        button {
            color: #fff;
            background-color: $lollipop-blue;
            // padding-top: 1rem;
            // padding-bottom: 1rem;
            // padding-right: 3rem;
            // padding-left: 3rem;
            height: 3rem;
            width:20rem;
            margin-top: 2rem;

            &:hover {
                background-color: $lollipop-blue-hover;
            }
        }




        // .slanted-border-top {
        //     padding-bottom: 5rem;
        // }

        // .slanted-border-bottom {
        //     padding-top: 5rem;
        // }
    }

    .home-services-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        // background-color: pink;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 3rem;
        width: 100%;

        .services-item-section {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            // background-color: coral;
            width: 100%;

            .services-item {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                text-align: center;
                -ms-flex-item-align: start;
                align-self: flex-start;

                // background-color: $lollipop-blue;
                padding-left: 0.3rem;
                padding-right: 0.3rem;
                margin-bottom: 1rem;
                width: 20rem;
                height: 16rem;

                img {
                    width: 8rem;
                    height: 8rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .about-us-sample-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;

        background-color: #FFA8B7;
        color: #fff;
        padding-top: 7rem;
        padding-bottom: 7rem;
        margin-bottom: 3rem;
        width: 100%;

        p {
            width: 80%;
            margin-top: 2rem;
            font-size: 130%;
        }
    }

    .locations-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        // background-color: #FFA8B7;
        // color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        width: 100%;

        .locations-main-title {
          margin-bottom: 2rem;
        }

        .locations-item-section {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            // background-color: coral;
            width: 100%;

            .locations-item {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                text-align: center;
                -ms-flex-item-align: start;
                align-self: flex-start;

                // background-color: $lollipop-blue;
                padding-left: 0.3rem;
                padding-right: 0.3rem;
                margin-bottom: 1rem;
                width: 20rem;
                height: 16rem;
                position: relative;

                img {
                    width: 15rem;
                    height: 15rem;
                    margin-bottom: 1rem;
                }

                h2 {
                  // position: relative;
                  // bottom: 5rem;
                  // right: 9.5rem;
                  position: absolute;
                  top: 5rem;
                  right: 7rem;
                }

                h2.location-buckner {
                  // color: $maid-pink;
                  position: absolute;
                  top: 6rem;
                  right: 6.5rem;
                }

                h2.location-lake-lotawana {
                  // color: $maid-pink;
                  position: absolute;
                  // top: 6rem;
                  right: 5.9rem;
                }

                h2.location-lake-tapawingo {
                  // color: $maid-pink;
                  position: absolute;
                  // top: 6rem;
                  right: 5.4rem;
                }

                h2.location-grain-valley {
                  // color: $maid-pink;
                  position: absolute;
                  // top: 6rem;
                  right: 7.5rem;
                }

                h2.location-oak-grove {
                  // color: $maid-pink;
                  position: absolute;
                  // top: 6rem;
                  right: 7.5rem;
                }
            }
        }
    }

    .home-call-to-action {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;

        margin-top: 2rem;
        // background-color: $gray-100;
        background-color: #FFA8B7;
        color: #fff;
        // color: $smokey-black;
        width: 90%;
        border-radius: 3px;
        padding-top: 3rem;
        padding-bottom: 3rem;

        button {
            background-color: $lollipop-blue;
            color: #fff;
            height: 3rem;
            width:20rem;
            margin-top: 2rem;

            &:hover {
                background-color: $lollipop-blue-hover;
            }
        }

        .home-call-to-action-title {
            margin-bottom: 2rem;
        }

        img {
          width: 5rem;
          // height: 2rem;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }

        .home-call-to-action-item-group {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;

          .home-call-to-action-item {
            // background-color: $lollipop-blue;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-bottom: 2rem;

            img {
              width: 5rem;
              // height: 2rem;
              margin-top: 1rem;
              margin-bottom: 1rem;
            }
          }
        }
    }
}





// Free Estimate Page
.main-free-estimate-section {
  margin-top: 4rem;

  .free-estimate-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;

    .free-estimate-real-button {
      background-color: $lollipop-blue;
      color: #fff;
      border: none;
      padding-left: 5rem;
      padding-right: 5rem;
      height: 3rem;
      cursor: pointer;

      &:hover {
        background-color: $lollipop-blue-hover;
      }
    }

    input {
      height: 2.5rem;
      margin-bottom: 1rem;
    }

    .free-estimate-form-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      margin-bottom: 2rem;

      &:first-of-type {
        margin-top: 2rem;
      }

      h2 {
        margin-bottom: 1rem;
      }

      .your-information-city-zip {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        // background-color: $maid-pink;
        width: 30rem;

        div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;

          label {
            -ms-flex-item-align: start;
            align-self: flex-start;
          }
        }
      }

      .your-information-name {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        // background-color: $maid-pink;
        width: 30rem;

        div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;

          label {
            -ms-flex-item-align: start;
            align-self: flex-start;
          }
        }
      }

      .tell-us-about-style-sq {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        // background-color: $maid-pink;
        width: 30rem;

        div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;

          label {
            -ms-flex-item-align: start;
            align-self: flex-start;
          }

          input {
            -ms-flex-item-align: start;
            align-self: flex-start;
          }

          // Square Feet
          &:nth-child(2) {
            // background-color: $lollipop-blue;
            width: 10rem;

            input {
              width: 100%;
            }
          }
        }
      }

      .tell-us-about-home-type {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        width: 30rem;

        input {
          -ms-flex-item-align: start;
          align-self: flex-start;

          width: 100%;
          margin-top: 0.5rem;
        }

        label {
          -ms-flex-item-align: start;
          align-self: flex-start;
          text-align: start;

          // background-color: $lollipop-blue;
        }
      }

      .questions-or-comments {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        // background-color: coral;
        width: 30rem;

        label {
          -ms-flex-item-align: start;
          align-self: flex-start;
        }

        textarea {
          width: 100%;
        }
      }

      .tell-us-about-home-selects {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        // -ms-flex-pack: distribute;
        // justify-content: space-around;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        // background-color: $lollipop-blue;
        width: 30rem;

        div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;

          // background-color: $maid-pink;
          width: 9rem;
          // margin-left: 1rem;
          margin-bottom: 1rem;

          label {
            -ms-flex-item-align: start;
            align-self: flex-start;
          }

          select {
            -ms-flex-item-align: start;
            align-self: flex-start;

            width: 100%;
            border: solid 1px $gray-200;
            height: 2rem;
          }
        }
      }

      .free-estimate-group-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        // background-color: $lollipop-blue;
        width: 30rem;

        label {
          // background-color: $maid-pink;
          -ms-flex-item-align: start;
          align-self: flex-start;

          margin-bottom: 0.5rem;
        }

        input {
          width: 100%;
        }
      }
    }
  }
}




// Contact Page
.main-contact-section {
  text-align: center;

  img {
    width: 8rem;
    height: 8rem;
    margin-top: 4rem;
  }

  .contact-us-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .input-title {
      visibility: hidden;
      margin-bottom: -1rem;
    }

    h2 {
      margin-top: 1rem;

    }

    p {
      margin-bottom: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    input {
      margin-bottom: 1rem;
      width: 30rem;
    }

    textarea {
      width: 30rem;
    }

    .contact-us-real-button {
      background-color: $lollipop-blue;
      color: #fff;
      border: none;
      padding-left: 6rem;
      padding-right: 6rem;
      height: 3rem;
      margin-top: 2rem;
      cursor: pointer;

      &:hover {
        background-color: $lollipop-blue-hover;
      }
    }
  }
}






// Services Page
.main-services-section {
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;
  // -webkit-box-pack: center;
  // -ms-flex-pack: center;
  // justify-content: center;
  // -webkit-box-orient: vertical;
  // -webkit-box-direction: normal;
  // -ms-flex-direction: column;
  // flex-direction: column;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // align-items: center;
  // -ms-flex-wrap: wrap;
  // flex-wrap: wrap;
  text-align: center;

  p:first-of-type {
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    // background-color: $lollipop-blue;
  }

  .services-page-24-hour-warranty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    img {
      width: 12rem;
    }

    h2 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }

    p {
     width: 85%;
    }
  }

  .services-page-item-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    text-align: center;
    margin-bottom: 3rem;

    // background-color: $lollipop-blue;

    img {
      width: 12rem;
    }



    .services-page-item {
      // background-color: $maid-pink;
      // max-width: 45rem;
      // margin-left: 2rem;
      width: 45rem;

      h2 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }

      p {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
}


.free-estimate-sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  background-color: $maid-pink;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #fff;
  margin-top: 4rem;
  background-image: url('../images/large bubbles3.png'), url('../images/large bubbles3.png');
background-repeat: no-repeat;
background-position: 10% 75%, right;
// background-size: 19rem;
background-size:  20rem;

  p {
    font-weight: 600;
  }

  button {
    background-color: $lollipop-blue;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: 2rem;

    &:hover {
      background-color: $lollipop-blue-hover;
    }
  }

  .sticky-free-estimate-close {
    cursor: pointer;
    position: absolute;
    right: 2rem;
  }
}

.make-sticky {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
}

.hide-close-button {
  display: none;
}





// About Page
.main-about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;

  h1{
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  p {
    width: 80%;
    text-align: center;
  }
  }




// Call Us Modal Section
#call-us-modal {
  text-align: center;

  img {
    width: 8rem;
    height: 8rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  p {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  button {
    background-color: $lollipop-blue;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 2rem;

    &:hover {
      background-color: $lollipop-blue-hover;
    }
  }

  .phone-modal-close {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}





@media all and (min-width: 800px) {
    .call-now-section-small-screens {
        visibility: hidden;
    }
}

@media all and (max-width: 1023px) and (min-width: 300px) {
  .main-home-section {
    .jumbotron-section {
      padding-top: 7rem;
      padding-bottom: 7rem;

      img {
        display: none;
      }
    }
  }
}

@media all and (max-width: 800px) and (min-width: 300px) {
    .call-now-section {
        display: none;
    }

    .call-now-section-small-screens {
        visibility: visible;
    }
}

@media all and (max-width: 650px) and (min-width: 500px) {
    .free-estimate-sticky {
      background-image: none;
      background-image: url('../images/large bubbles3.png');
      background-repeat: no-repeat;
      background-position: right;
  }
}

@media all and (max-width: 500px) and (min-width: 480px) {
    .free-estimate-sticky {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      background-image: none;
        background-image: url('../images/large bubbles3.png');
        background-repeat: no-repeat;
        background-position: right;

      button {
        margin-left: 0;
        margin-top: 0.5rem;
    }
  }
}

@media all and (max-width: 480px) and (min-width: 300px) {
    .call-now-section-small-screens {
        visibility: visible;
        left: 1rem;
    }

    .home-nav-link {
        display: none;
    }

    .header-section {
      .navbar {
        a.services-nav-link {
          margin-left: 0;
        }
      }
    }

    .main-home-section {
      .jumbotron-section {
        button {
            width: 15rem;
        }
      }

      .home-call-to-action {
        button {
          width: 15rem;
        }
      }
    }

      .free-estimate-sticky {
        background-image: none;
        background-image: url('../images/large bubbles3.png');
        background-repeat: no-repeat;
        background-position: right;

        button {
          margin-left: 0;
          margin-top: 0.5rem;
      }
      .sticky-free-estimate-close {
        cursor: pointer;
        position: absolute;
        right: 2rem;
        top: 1rem;
      }
    }

    .main-contact-section {
      .contact-us-form {
        // p {
        //   width: 90%;
        // }

        input {
          width: 90%;
        }

        textarea {
          width: 90%;
        }
      }
    }

    .main-services-section {
      .services-page-24-hour-warranty {
        p {
         width: 95%;
        }
      }
    }

    .main-free-estimate-section {
      .free-estimate-form {
        .free-estimate-form-group {
          width: 100%;

          h2 {
            margin-top: 2rem;
          }

          .your-information-city-zip {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            // background-color: $maid-pink;
            width: 90%;

            div {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;

              width: 100%;

              label {
                -ms-flex-item-align: start;
                align-self: flex-start;
              }

              input {
                width: 100%;
              }
            }
          }

          .your-information-name {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            // background-color: $maid-pink;
            width: 90%;

            div {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;

              width: 100%;

              label {
                -ms-flex-item-align: start;
                align-self: flex-start;
              }

              input {
                width: 100%;
              }
            }
          }

          .free-estimate-group-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            // background-color: $lollipop-blue;
            width: 90%;

            label {
              // background-color: $maid-pink;
              -ms-flex-item-align: start;
              align-self: flex-start;

              margin-bottom: 0.5rem;
            }

            input {
              width: 100%;
            }
          }

          .tell-us-about-home-type {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            width: 90%;

            input {
              -ms-flex-item-align: start;
              align-self: flex-start;

              width: 100%;
              margin-top: 0.5rem;
            }

            label {
              -ms-flex-item-align: start;
              align-self: flex-start;
              text-align: start;

              // background-color: $lollipop-blue;
            }
          }

          .tell-us-about-style-sq {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            // background-color: $maid-pink;
            width: 90%;

            div {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;

              width: 100%;

              label {
                -ms-flex-item-align: start;
                align-self: flex-start;
              }

              input {
                -ms-flex-item-align: start;
                align-self: flex-start;

                width: 100%;
              }

              // Square Feet
              &:nth-child(2) {
                // background-color: $lollipop-blue;
                width: 100%;

                input {
                  width: 100%;
                }
              }
            }
          }

          .tell-us-about-home-selects {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            // -ms-flex-pack: distribute;
            // justify-content: space-around;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            // background-color: $lollipop-blue;
            width: 90%;

            div {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;

              // background-color: $maid-pink;
              width: 100%;
              // margin-left: 1rem;
              margin-bottom: 1rem;

              label {
                -ms-flex-item-align: start;
                align-self: flex-start;
              }

              select {
                -ms-flex-item-align: start;
                align-self: flex-start;

                width: 100%;
                border: solid 1px $gray-200;
                height: 2rem;
              }
            }
          }

          .questions-or-comments {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            // background-color: coral;
            width: 90%;

            label {
              -ms-flex-item-align: start;
              align-self: flex-start;
            }

            textarea {
              width: 100%;
            }
          }
        }
      }
    }
}